<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuqinyidev.android.azaz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name="com.yuqinyidev.android.framework.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        autolayout meta
        配置设计图的宽高,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
        注意: 本框架并不强制你使用 AutoLayout,如果你不想使用 AutoLayout,就不要配置下面的 meta-data
        -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <!-- glide配置 -->
        <meta-data
            android:name="com.yuqinyidev.android.framework.widget.imageloader.glide.GlideConfiguration"
            android:value="GlideModule" />

        <!-- arms配置 -->
        <meta-data
            android:name="com.yuqinyidev.android.azaz.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <!-- Activity -->
        <activity
            android:name=".splash.mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.mvp.ui.activity.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.mvp.ui.activity.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trainingdiary.mvp.ui.activity.TrainingDiaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trainingdiary.mvp.ui.activity.SaveTrainingDiaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".weather.mvp.ui.activity.WeatherMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weather.mvp.ui.activity.WeatherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kanbook.mvp.ui.activity.KBMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kanbook.mvp.ui.activity.KBBookShelfActivity"
            android:screenOrientation="portrait"  />

        <activity
            android:name=".kanbook.mvp.ui.activity.KBReadTxtActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kanbook.mvp.ui.activity.KBSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".kanbook.mvp.ui.activity.KBVirtualDialogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".memorandum.mvp.ui.activity.MR_MemorandumMain"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".memorandum.mvp.ui.activity.MR_MemoList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".memorandum.mvp.ui.activity.MR_EventList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".memorandum.mvp.ui.activity.MR_OptionMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".memorandum.mvp.ui.activity.MR_MemorandumNotification"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".memorandum.mvp.model.service.MR_MemorandumReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".weather.mvp.model.service.AutoUpdateWeatherService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>